<a href="https://colab.research.google.com/github/jeongtongim/thejoeun/blob/master/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%97%B0%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [3]:
dates = pd.date_range("2019-10-22", periods=6)
dates

DatetimeIndex(['2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25',
               '2019-10-26', '2019-10-27'],
              dtype='datetime64[ns]', freq='D')

In [0]:
# 데이터를 수집 한뒤 무조건 table형태로 만들어야 함

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=["A", "B", "C", "D"]) # 데이터를 분석하기 위한 기본적인 틀(데이터를 table형태로 만들어줌). (인스턴스:실제값, 인덱스, 컬럼명)
df

                   A         B         C         D
2019-10-22  0.877241  0.670800  0.671640 -1.933794
2019-10-23 -2.154191 -1.327042 -1.819081  0.214175
2019-10-24 -0.729888 -0.209935  0.394955 -0.804695
2019-10-25  0.528503 -1.084863 -0.621061 -0.580301
2019-10-26  0.400802  1.708109 -0.037254  0.180519
2019-10-27 -0.543525  0.249552 -0.713127  2.447479

In [8]:
df.head(3) # 앞의 명령한 수만 출력

                   A         B         C         D
2019-10-22  0.877241  0.670800  0.671640 -1.933794
2019-10-23 -2.154191 -1.327042 -1.819081  0.214175
2019-10-24 -0.729888 -0.209935  0.394955 -0.804695

In [9]:
df.columns # 컬럼명만 출력

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.values # 인스턴스만 출력

array([[ 0.87724118,  0.67079964,  0.67163951, -1.93379382],
       [-2.15419142, -1.32704236, -1.81908086,  0.21417453],
       [-0.72988788, -0.2099349 ,  0.39495535, -0.8046946 ],
       [ 0.52850339, -1.08486309, -0.62106108, -0.58030103],
       [ 0.40080201,  1.70810937, -0.03725427,  0.18051863],
       [-0.54352489,  0.24955151, -0.71312666,  2.44747905]])

In [12]:
df.info() # 테이블 정보 출력

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2019-10-22 to 2019-10-27
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [14]:
df.describe() # 테이블 상세 정보 및 통계치 출력

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.270176  0.001103 -0.353988 -0.079436
std    1.117160  1.132424  0.901105  1.466601
min   -2.154191 -1.327042 -1.819081 -1.933794
25%   -0.683297 -0.866131 -0.690110 -0.748596
50%   -0.071361  0.019808 -0.329158 -0.199891
75%    0.496578  0.565488  0.286903  0.205761
max    0.877241  1.708109  0.671640  2.447479

In [20]:
df.sort_values(by="B", ascending=False) # 인스턴스 정렬(by="컬럼명", 오름내림차순설정)

                   A         B         C         D
2019-10-26  0.400802  1.708109 -0.037254  0.180519
2019-10-22  0.877241  0.670800  0.671640 -1.933794
2019-10-27 -0.543525  0.249552 -0.713127  2.447479
2019-10-24 -0.729888 -0.209935  0.394955 -0.804695
2019-10-25  0.528503 -1.084863 -0.621061 -0.580301
2019-10-23 -2.154191 -1.327042 -1.819081  0.214175

In [21]:
df["A"] # 해당컬럼만 출력

2019-10-22    0.877241
2019-10-23   -2.154191
2019-10-24   -0.729888
2019-10-25    0.528503
2019-10-26    0.400802
2019-10-27   -0.543525
Freq: D, Name: A, dtype: float64

In [19]:
df[3:] # 슬라이싱

                   A         B         C         D
2019-10-25  0.528503 -1.084863 -0.621061 -0.580301
2019-10-26  0.400802  1.708109 -0.037254  0.180519
2019-10-27 -0.543525  0.249552 -0.713127  2.447479